h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .eventsTable{
    background: #737373;
  }

  .container-calendar{
    width: 98%;
    margin-left: 1%;
  }

  table >thead {
    color: white;
  }