<h3>
    <button  class="btn primary-button-custom float-right" (click)="addEvent()">
        {{ 'add.new' | translate }}
    </button>
    <div class="clearfix"></div>
  </h3>
<div class="mat-elevation-z8">
    <mat-table
    [dataSource]="dataSource"
    matSort
    class="tablaDetalle"
    (matSortChange)="paginator.pageIndex = 0; busquedaOrden($event)"
    id="tablaTarjetas"
  >
    <ng-container matColumnDef="title">
      <mat-header-cell [ngClass]="'w-column-little'"
        *matHeaderCellDef
        mat-sort-header
      >
        {{ 'title' | translate }}
      </mat-header-cell>
      <mat-cell [ngClass]="'w-column-little'"
        *matCellDef="let row"
      >
        {{ row.title }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell [ngClass]="'w-column-little'"
        *matHeaderCellDef
        mat-sort-header
      >
        {{ 'color' | translate }}
      </mat-header-cell>
      <mat-cell [ngClass]="'w-column-little'"
        *matCellDef="let row"
      >
      <input type="color" [value]="row.colorPrimary" class="color-square" disabled />
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="start">
      <mat-header-cell [ngClass]="'w-column-little'"
        *matHeaderCellDef
        mat-sort-header
      >  
      {{ 'starts.at' | translate }}
      </mat-header-cell>
      <mat-cell [ngClass]="'w-column-little'"
        *matCellDef="let row"
      >
      {{ row.start }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="end">
        <mat-header-cell [ngClass]="'w-column-big'"
          *matHeaderCellDef
          mat-sort-header
        >  
        {{ 'ends.at' | translate }}
        </mat-header-cell>
        <mat-cell [ngClass]="'w-column-big'"
          *matCellDef="let row"
        >
          {{ row.end }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="location">
        <mat-header-cell [ngClass]="'w-column-big'"
          *matHeaderCellDef
          mat-sort-header
        >  
        {{ 'location' | translate }}
        </mat-header-cell>
        <mat-cell [ngClass]="'w-column-big'"
          *matCellDef="let row"
        >
          {{ row.location }}
        </mat-cell>
      </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [ngClass]="'w-column-little'">
      {{ 'actions' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'w-column-little'">
      <div class="iconTableActions">
        <a class="actionIcon" (click)="openDialog(row)"><i class="material-icons iconoHover md-36">delete</i></a>
        </div>
        <div class="iconTableActions">
          <a class="actionIcon" (click)="openMeetingModal(row)"><i class="material-icons iconoHover md-36">edit</i></a>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <div class="divNoRegistros" id="divNoRegistros"></div>
  <mat-paginator
    [pageSizeOptions]="pageSize"
    #paginator
    [length]="totalLength"
    (page)="changePage($event)"
    [pageIndex]="pageIndex"
  ></mat-paginator>
  </div>