mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  
  .button-register{
    margin-top: 10%;
  }

  .register-form{
    margin-top: 5%;
  }

  .link-white{
    color: white;
    cursor: pointer;
  }